@font-face {
  font-family: 'HyundaiHeadBold';
  src: url('../static/font/HyundaiSansHeadKRBold.woff2') format('woff2'),
    url('../static/font/HyundaiSansHeadKRBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HyundaiHeadMedium';
  src: url('../static/font/HyundaiSansHeadKRMedium.woff2') format('woff2'),
    url('../static/font/HyundaiSansHeadKRMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HyundaiHeadRegular';
  src: url('../static/font/HyundaiSansHeadKRRegular.woff2') format('woff2'),
    url('../static/font/HyundaiSansHeadKRRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HyundaiTextBold';
  src: url('../static/font/HyundaiSansTextKRBold.woff2') format('woff2'),
    url('../static/font/HyundaiSansTextKRBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HyundaiTextMedium';
  src: url('../static/font/HyundaiSansTextKRMedium.woff2') format('woff2'),
    url('../static/font/HyundaiSansTextKRMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HyundaiTextRegular';
  src: url('../static/font/HyundaiSansTextKRRegular.woff2') format('woff2'),
    url('../static/font/HyundaiSansTextKRRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
