/* css variable */
:root {
  --primary-blue: #00428e;
  --primary-blue-10: rgba(0, 66, 142, 0.1);
  --secondary-active-blue: #2197c9;
  --black: #111;
  --gray-1000: #fff;
  --gray-900: #fbfbfb;
  --gray-800: #f0f0f0;
  --gray-700: #ebebeb;
  --gray-600: #bebebe;
  --gray-500: #a4a4a4;
  --gray-400: #777;
  --gray-300: #696969;
  --gray-200: #404040;
  --gray-100: #303030;
  --gray-50: #1a1a1a;
  --gray-0: #000;
}
.text-primary-blue {
  color: var(--primary-blue);
}

.text-primary-blue-10 {
  color: var(--primary-blue-10);
}

.text-secondary-active-blue {
  color: var(--secondary-active-blue);
}

.text-black {
  color: var(--black);
}

.text-grey-1000 {
  color: var(--gray-1000);
}

.text-grey-900 {
  color: var(--gray-900);
}

.text-grey-800 {
  color: var(--gray-800);
}

.text-grey-700 {
  color: var(--gray-700);
}

.text-grey-600 {
  color: var(--gray-600);
}

.text-grey-500 {
  color: var(--gray-500);
}

.text-grey-400 {
  color: var(--gray-400);
}

.text-grey-300 {
  color: var(--gray-300);
}

.text-grey-200 {
  color: var(--gray-200);
}

.text-grey-100 {
  color: var(--gray-100);
}

.text-grey-50 {
  color: var(--gray-50);
}

.text-grey-0 {
  color: var(--gray-0);
}

.head-bold-22 {
  font-family: 'HyundaiHeadBold';
  font-size: 22px;
  letter-spacing: -0.4px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
}

.head-medium-20 {
  font-family: 'HyundaiHeadMedium';
  font-size: 20px;
  letter-spacing: -0.3px;
  line-height: 26px;
  font-weight: 500;
  font-style: normal;
}

.head-medium-18 {
  font-family: 'HyundaiHeadMedium';
  font-size: 18px;
  letter-spacing: -0.3px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
}

.head-medium-16 {
  font-family: 'HyundaiHeadMedium';
  font-size: 16px;
  letter-spacing: -0.3px;
  line-height: 22px;
  font-weight: 500;
  font-style: normal;
}

.body-bold-20 {
  font-family: 'HyundaiTextBold';
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
}

.body-bold-18 {
  font-family: 'HyundaiTextBold';
  font-size: 18px;
  letter-spacing: -0.2px;
  line-height: 26px;
  font-weight: 700;
  font-style: normal;
}

.body-medium-20 {
  font-family: 'HyundaiTextMedium';
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 28px;
  font-weight: 500;
  font-style: normal;
}

.body-medium-18 {
  font-family: 'HyundaiTextMedium';
  font-size: 18px;
  letter-spacing: -0.2px;
  line-height: 26px;
  font-weight: 500;
  font-style: normal;
}

.body-medium-16 {
  font-family: 'HyundaiTextMedium';
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
}

.body-medium-14 {
  font-family: 'HyundaiTextMedium';
  font-size: 14px;
  letter-spacing: -0.2px;
  line-height: 22px;
  font-weight: 500;
  font-style: normal;
}

.body-regular-18 {
  font-family: 'HyundaiTextRegular';
  font-size: 18px;
  letter-spacing: -0.2px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
}

.body-regular-16 {
  font-family: 'HyundaiTextRegular';
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}

.body-regular-14 {
  font-family: 'HyundaiTextRegular';
  font-size: 14px;
  letter-spacing: -0.2px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
}

.caption-medium-12 {
  font-family: 'HyundaiTextMedium';
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 18px;
  font-weight: 500;
  font-style: normal;
}

.caption-regular-12 {
  font-family: 'HyundaiTextRegular';
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
}
